
section {
    width: 600px;
    height: 200px;
    background-color: bisque;
}

h1 {
    display: block;
}

/*Espaço Ocupado: block ocupa toda a linha, inline-block ocupa apenas o espaço necessário.
Quebra de Linha: block começa em uma nova linha, inline-block permite elementos ao lado.
Dimensões: Ambos permitem definir width e height, mas inline-block pode coexistir em linha com outros elementos.*\

